<div class="content">
    <h1>Welcome</h1>
    <p>
        <mat-toolbar color="primary" class="main-menu">
            <mat-toolbar-row routerLink="/photos">
                <span>Photos</span>
                <span class="spacer"></span>
                <mat-icon>filter</mat-icon>
            </mat-toolbar-row>
            <mat-toolbar-row matTooltip="Under construction" matTooltipPosition="right">
                <span>Albums</span>
                <span class="spacer"></span>
                <mat-icon>folders</mat-icon>
            </mat-toolbar-row>
            <mat-toolbar-row matTooltip="Under construction" matTooltipPosition="right">
                <span>Users</span>
                <span class="spacer"></span>
                <mat-icon>people</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    </p>
</div>